<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>فوج التحرير للكشافة بالرديف</title>
</head>
<body>
<div align="center">
    <img src="{% static 'images\title.png' %}" style="width: 100%">
    <img src="{% static 'images\lg1.png' %}" style="width: 100%">
    <img src="{% static 'images\lg2.png' %}" style="width: 100%">
    <img src="{% static 'images\lg3.png' %}" style="width: 100%">
</div>
<h4 align="center" style="color: blue">جميع حقوق محفوظ لفوج التحرير للكشافة بالرديف</h4>
</body>
</html>